$black: #010103;
$beige: #D3AD7F;
$white: #ffffff;
$gray: #13131A;
$gray-light: #4e4e4f;
$gray-light-2: #757575;
$size: 1rem;

// base-Typography

$typo-xs: $size;
$typo-s: $size * 1.5;

// Mobile-Typography

$typo-m: $size * 2;
$typo-l: $size * 2.2;

// Desktop-Typography

$typo-xl: $size * 5;
$typo-xxl: $size * 6.5;
