* {
    margin: 0;
    padding: 0;
}

body {
    background: 
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/

.title h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 2.9em;
}

.container {
    background-color: #fff;
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    /*definir el # de columnas 1fr:significa una fracción y el 5 es decir 5 veces esa fracción*/
    grid-template-columns: repeat(5, 1fr);
}

.container > .header,
.container > .content,
.container > .sidebar,
.container > .footer,
.container > div {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #000;
}

.container .header,
.container .footer {
    grid-column: 1/6;
    background-color: #1f262f;
    color: white;
} 

.container .content {
    grid-column: span 3;
}

.content > .article {
    background-color: #817e91;
    padding: 20px;
    margin-top: 5px;
    color: white;
}
.content > .article h1,p {
    padding: 10px;
}
.container .sidebar img {
    width: 100%;
    margin-top: 5px;
}
.container .sidebar {
    grid-column: span 2;
    background-color: #485361;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container > .related-post {
    background-color: #262a2d;
    color: white;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.container > .related-post:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .header {
        text-align: center;
    }
    .container .content {
        grid-column: 1/-1;
    }
    .container .sidebar {
        grid-column: 1/-1;
    }
    .container .related-post{
        grid-column: 1/-1;
    }
}