.blog {
  .blog__cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
  }
  .blog__cards-info {
    padding-bottom: 1.5rem;
    img {
      width: 100%;
    }
    h4, span {
      padding-left: 1rem;
      line-height: 1.5rem;
    }
    p {
      padding-bottom: 1rem;
      padding-left: 1rem;
      line-height: 1.5rem;
    }
    border: 0.1rem solid $gray-light;

    a {
      margin-left:1rem;
    }
  }
}
